body {
    color: rgb(233, 149, 191);
    background: rgb(235, 168, 201);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(229, 162, 196);
    padding: 20px;
    font-size: 32px;
    color: rgb(206, 72, 134);
}